@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");

:root {
  --main--color: #f77e23;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: auto;
  position: relative;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.with_common {
  width: 100%;
}

.container {
  width: 90%;
  margin: 0 auto;
  padding: 0 15px;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--main--color); /* gradient */
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

/* Header */
header {
  width: 100%;
}

.header__container {
  padding: 20px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  color: var(--main--color);
  font-size: 33px;
  font-weight: 600;
  line-height: 41.23px;
  font-family: Source Code Pro, sans-serif;
  position: relative;
}

.header__logo::after {
  content: "";
  width: 5px;
  height: 5px;
  background-color: var(--main--color);
  border-radius: 50%;
  position: absolute;
  left: 41.5px;
  top: 10px;
}

.header__logo::before {
  content: "";
  width: 5px;
  height: 5px;
  background-color: var(--main--color);
  border-radius: 50%;
  position: absolute;
  left: 52.5px;
  top: 10px;
}

.nav__main .nav__item {
  display: inline-block;
  padding: 10px 20px;
}

.nav__main .nav__item a {
  color: #ffffff;
  font-size: 16px;
  line-height: 48px;
  text-align: center;
  font-family: Open Sans, sans-serif;
  letter-spacing: -2%;
  font-weight: 600;
}

.header__btn .search__btn {
  padding: 10px 10px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  line-height: 20px;
  font-family: Source Code Pro, sans-serif;
}

.header__btn .register__btn {
  padding: 10px 15px;
  background-color: #ffff;
  color: var(--main--color);
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  border-radius: 5px;
  font-family: Source Code Pro, sans-serif;
}

.header__btn .login__btn {
  padding: 10px 20px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  font-family: Source Code Pro, sans-serif;
}

/* Banner */
#banner__section {
  height: 662px;
  background-image: url("../images/banner-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  z-index: -1;
}

.banner__content {
  margin-top: 190px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

#banner__section::after {
  content: "";
  position: absolute;
  top: 0;
  z-index: -5;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.banner__content .banner__title {
  font-size: 60px;
  color: #ffffff;
  font-family: Poppins, sans-serif;
  line-height: 90px;
  text-align: center;
  font-weight: 700;
  width: 50%;
  margin-bottom: 10px;
}

.banner__content .banner__txt {
  font-size: 20px;
  color: #ffffff;
  font-family: Open Sans, sans-serif;
  line-height: 30px;
  text-align: center;
  font-weight: 400;
  width: 50%;
}

.banner__content .banner__btn {
  margin-top: 3%;
  background-color: rgba(255, 111, 40, 1);
  color: #ffffff;
  padding: 20px 35px;
  border: none;
  border-radius: 4px;
  font-family: Source Code Pro, sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  cursor: pointer;
}

.banner__content .banner__btn:hover {
  background-color: #ffffff;
  color: rgba(255, 111, 40, 1);
}

.banner__other {
  background-color: #ffffff;
  padding: 40px;
  border-radius: 10px;
  position: absolute;
  bottom: -50px;
  box-shadow: 0px 21px 97px 0px rgba(207, 207, 207, 0.25);
  transform: translateY(100%);
  z-index: 1;
}

.banner__other ul {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.banner__other a {
  font-size: 24px;
  font-family: Poppins, sans-serif;
  font-weight: 400;
  line-height: 36px;
  color: #000;
}

.banner__content .banner__other {
  width: 969px;
}

.banner__content .banner__other li {
  display: flex;
  align-items: center;
  gap: 15px;
}

.banner__other li i {
  padding: 20px;
  font-size: 30px;
  color: var(--main--color);
  border-radius: 50%;
  background-color: rgba(255, 231, 219, 1);
}

.scroll__btn--up {
  cursor: pointer;
  background-color: var(--main--color);
  color: #ffff;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 550px;
  transform: translateY(100%);
  right: 130px;
  z-index: 9999;
}

/* Category Section */
#category__section {
  margin-top: 662px;
}

.category__container {
  padding-top: 20px;
  padding-bottom: 80px;
  position: relative;
  z-index: 1;
}

.category__container .category__title {
  font-size: 48px;
  font-weight: 600;
  line-height: 72px;
  font-family: Poppins, sans-serif;
  color: rgba(0, 0, 0, 1);
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.category__slider {
  margin-top: 30px;
  overflow: hidden;
  scroll-behavior: smooth;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.category__slider::-webkit-scrollbar {
  display: none;
}

.slider__link {
  color: var(--main--color);
  display: block;
  font-size: 24px;
  font-family: Poppins, sans-serif;
  line-height: 36px;
  font-weight: 400;
  float: right;
}

.category__slider .category__card {
  width: 291px;
  height: 432px;
  background: url("../images/slider.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 80% 70%;
  position: relative;
  flex-shrink: 0;
  z-index: 2;
}

.category__slider .category__card:hover .card__content {
  transform: translateY(-76%);
  transition: transform 0.5 linear;
}

.category__slider .category__card:not(:hover) .card__content {
  transform: translateY(0);
  transition: transform 0.5 linear;
}

.category__slider .category__card:nth-child(2) {
  background: url("../images/slider2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 80% 70%;
}

.category__slider .category__card:nth-child(3),
.category__slider .category__card:nth-child(5) {
  background: url("../images/slider3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 80% 70%;
}

.category__slider .category__card:nth-child(4) {
  background: url("../images/slider4.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 80% 70%;
}

.category__slider .category__card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.category__card .card__content h2 {
  font-size: 32px;
  font-weight: 600;
  font-family: Poppins, sans-serif;
  line-height: 48px;
  color: rgba(255, 255, 255, 1);
  margin-bottom: 10px;
}

.category__card .card__content p {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: rgba(255, 255, 255, 1);
}

.category__card .card__content {
  position: absolute;
  bottom: -222px;
  left: 0;
  z-index: 1;
  padding: 10px 20px;
}

.category__btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 55%;
  left: 0;
  z-index: 8;
  padding: 0px 40px;
}

.category__btn .category__btn--next,
.category__btn .category__btn--prev {
  background-color: var(--main--color);
  color: #ffffff;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.category__btn .category__btn--next:hover i,
.category__btn .category__btn--prev:hover i {
  color: rgba(255, 111, 40, 1);
}

.category__btn .category__btn--next:hover,
.category__btn .category__btn--prev:hover {
  background-color: #ffffff;
}

.category__btn i {
  width: 30px;
  height: 30px;
  line-height: 30px;
}

/* Experts Section */
#experts__section {
  height: 671px;
  background: url("../images/experts-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.experts__container {
  padding-top: 150px;
  padding-bottom: 100px;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  z-index: 1;
}

.art__box {
  width: 373.31px;
  height: 373.31px;
  border-radius: 50%;
  background-color: rgba(255, 231, 219, 1);
  position: relative;
  z-index: 3;
}

.art__box::after {
  content: "";
  position: absolute;
  top: -65px;
  left: -65px;
  z-index: -2;
  width: 498px;
  height: 498px;
  border-radius: 50%;
  border: 3.38px dashed rgba(247, 126, 35, 1);
}

.experts__left {
  width: 38%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.experts__left .thumb__art {
  position: absolute;
  content: "";
  background: url("../images/experts-img.png");
  background-repeat: no-repeat;
  background-position: 80% 70%;
  background-size: cover;
  top: -210.74px;
  left: -121.51px;
  z-index: 1;
  width: 500px;
  height: 609.05px;
}

.experts__left .expert__card {
  position: absolute;
  z-index: 15;
  width: 168px;
  height: 210px;
  padding: 15px 20px;
  top: 156px;
  left: 380px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0px 0px 69.23px 0px rgba(112, 112, 112, 0.25);
}

.expert__card .arts {
  margin-left: 40px;
  width: 100%;
  height: 40px;
  position: relative;
}

.arts .one {
  position: absolute;
  left: 0;
}

.arts .two {
  position: absolute;
  left: 25px;
}

.arts .three {
  position: absolute;
  left: 50px;
}

.arts img {
  border: 3px solid rgba(255, 255, 255, 1);
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.expert__card .user__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  color: var(--main--color);
  background-color: rgba(255, 231, 219, 1);
  border-radius: 50%;
}

.expert__card .user__icon i {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}

.expert__card .main__txt {
  text-align: center;
  font-family: Poppins, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  position: relative;
}

.expert__card .main__txt span {
  font-family: Poppins, sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  text-align: center;
  color: var(--main--color);
}

.expert__card .main__txt span::before {
  content: "";
  width: 109px;
  height: 4px;
  background: url("../images/line.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  transform: rotate(-2deg);
  left: 7px;
  top: 30px;
}

.experts__right {
  width: 52%;
}

.experts__right .main__title {
  font-size: 52px;
  line-height: 78px;
  font-weight: 700;
  font-family: Poppins, sans-serif;
  color: rgba(51, 51, 51, 1);
  width: 608px;
}

.experts__right span {
  font-family: Poppins, sans-serif;
  font-size: 52px;
  font-weight: 700;
  line-height: 78px;
  text-align: left;
  color: var(--main--color);
  position: relative;
}

.experts__right span::before {
  content: "";
  width: 190px;
  height: 8.8px;
  background: url("../images/line.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  left: 0;
  top: 72px;
  transform: rotate(-3deg);
  z-index: 5;
}

.experts__right .sub__title {
  margin-top: 20px;
  margin-bottom: 45px;
  width: 562px;
  height: 150px;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  font-family: Poppins, sans-serif;
}

.experts__right .right__btn {
  padding: 15px 30px;
  border-radius: 5px;
  background-color: rgba(255, 111, 40, 1);
  color: #ffffff;
  border: none;
  line-height: 20px;
  font-family: Source Code Pro, sans-serif;
}

.experts__right .right__btn:hover {
  background-color: #ffffff;
  color: rgba(255, 111, 40, 1);
}

/* Course Section */
#course__section {
}

.course__container {
  padding-top: 70px;
  padding-bottom: 90px;
  position: relative;
}

.course__container .course__title {
  width: 462px;
  margin: 0 auto;
  color: rgba(51, 51, 51, 1);
  font-family: Poppins, sans-serif;
  font-size: 48px;
  font-weight: 600;
  line-height: 72px;
  text-align: center;
}

.course__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
  margin-top: 40px;
}

.course__sort {
  margin-top: 20px;
  width: 129px;
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  background-color: var(--main--color);
  color: #ffffff;
  border-radius: 200px;
  padding: 10px 20px;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  text-align: left;
  float: right;
}

.course__list .course__list--item {
  width: 410px;
  height: 444px;
  margin-top: 40px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 0px 20px 0px rgba(203, 203, 203, 0.25);
}

.course__list .course__list--item:hover {
  transform: translateY(-30px);
  transition: all 0.3s linear;
}

.course__list .course__list--item:not(:hover) {
  transform: translateY(0px);
  transition: all 0.3s linear;
}

.course__list--item img {
  width: 100%;
  height: 215px;
  border-radius: 10px 10px 0px 0px;
}

.course__list--item .item__content {
  padding: 20px 20px;
  height: calc(100% - 215px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.item__content .item__title {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.item__title h4 {
  width: 295px;
  height: 72px;
  font-family: Poppins;
  font-size: 24px;
  font-weight: 500;
  color: rgba(51, 51, 51, 1);
  line-height: 36px;
  text-align: left;
}

.item__title .review {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 48px;
  height: 24px;
  margin-top: 5px;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}

.item__title i {
  color: var(--main--color);
}

.item__content .item__time {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.item__time .item__number {
  width: 210px;
  gap: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.item__number p,
.item__number a {
  color: rgba(51, 51, 51, 1);
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
}

.item__number i {
  color: var(--main--color);
}

.item__time .item__price {
  font-family: Poppins;
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  text-align: left;
  color: var(--main--color);
}

/* Examination Section */
#examination__section {
  height: 671px;
  background: url("../images/experts-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.examination__container {
  padding-top: 150px;
  padding-bottom: 100px;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  width: 80%;
}

.art__box {
  width: 373.31px;
  height: 373.31px;
  border-radius: 50%;
  background-color: rgba(255, 231, 219, 1);
  position: relative;
  z-index: 3;
}

.art__box::after {
  content: "";
  position: absolute;
  top: -65px;
  left: -65px;
  z-index: -2;
  width: 498px;
  height: 498px;
  border-radius: 50%;
  border: 3.38px dashed rgba(247, 126, 35, 1);
}

.examination__left {
  width: 50%;
}

.examination__right .thumb__art {
  position: absolute;
  content: "";
  background: url("../images/examination-img.png");
  background-repeat: no-repeat;
  background-position: 80% 70%;
  background-size: cover;
  top: -138.74px;
  left: 3.49px;
  z-index: 1;
  width: 500px;
  height: 609.05px;
}

.examination__right .examination__card {
  position: absolute;
  z-index: 15;
  width: 190px;
  height: 190px;
  padding: 15px 15px;
  top: 156px;
  left: -26px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0px 0px 69.23px 0px rgba(112, 112, 112, 0.25);
}

.examination__card .user__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 41px;
  height: 41px;
  color: var(--main--color);
  background-color: rgba(255, 231, 219, 1);
  border-radius: 50%;
}

.examination__card .user__icon i {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}

.examination__card .main__txt {
  text-align: center;
  font-family: Poppins, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  position: relative;
}

.examination__card .main__txt span {
  font-family: Poppins, sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  text-align: center;
  color: var(--main--color);
}

.examination__card .main__txt span::before {
  content: "";
  width: 81.5px;
  height: 4px;
  background: url("../images/line.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  transform: rotate(3deg);
  left: 36px;
  top: 25px;
}

.examination__right {
  width: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.examination__left .main__title {
  font-size: 52px;
  line-height: 78px;
  font-weight: 700;
  font-family: Poppins, sans-serif;
  color: rgba(51, 51, 51, 1);
  width: 502px;
}

.examination__left span {
  font-family: Poppins, sans-serif;
  font-size: 52px;
  font-weight: 700;
  line-height: 78px;
  text-align: left;
  color: var(--main--color);
  position: relative;
}

.examination__left .sub__title {
  margin-top: 20px;
  width: 502px;
  height: 150px;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  font-family: Poppins, sans-serif;
}

.examination__left .right__btn {
  padding: 15px 30px;
  border-radius: 5px;
  background-color: rgba(255, 111, 40, 1);
  color: #ffffff;
  border: none;
  line-height: 20px;
  font-family: Source Code Pro, sans-serif;
}

.examination__left .right__btn:hover {
  background-color: #ffffff;
  color: rgba(255, 111, 40, 1);
}

/* Popular Section */
#popular__section {
  margin-top: 50px;
}

.popular__container {
  padding-top: 20px;
  padding-bottom: 80px;
  position: relative;
}

.popular__container .popular__title {
  font-size: 48px;
  font-weight: 600;
  line-height: 72px;
  font-family: Poppins, sans-serif;
  color: rgba(0, 0, 0, 1);
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.popular__slider {
  margin-top: 30px;
  overflow-x: auto;
  scroll-behavior: smooth;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.popular__slider::-webkit-scrollbar {
  display: none;
}

.slider__link {
  color: var(--main--color);
  display: block;
  font-size: 24px;
  font-family: Poppins, sans-serif;
  line-height: 36px;
  font-weight: 400;
  float: right;
}

.popular__slider .popular__card {
  width: 282px;
  height: 302.93px;
  background: url("../images/natural-img.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 80% 70%;
  position: relative;
  flex-shrink: 0;
  border-radius: 9.96px;
  z-index: 1;
}

.popular__slider .popular__card:nth-child(2) {
  background: url("../images/natural-img2.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 80% 70%;
}

.popular__slider .popular__card:nth-child(3),
.popular__slider .popular__card:nth-child(5) {
  background: url("../images/python-img.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 80% 70%;
}

.popular__slider .popular__card:nth-child(4) {
  background: url("../images/frame-img.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 80% 70%;
}

.popular__slider .popular__card img {
  position: absolute;
  z-index: 3;
  width: 68px;
  height: 17.74px;
  right: 15px;
  top: 15px;
}

.popular__slider .popular__card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  border-radius: 9.96px;
}

.popular__card h2 {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 3;
  font-size: 26.15px;
  font-weight: 500;
  font-family: Poppins, sans-serif;
  line-height: 30px;
  color: rgba(255, 255, 255, 1);
  padding: 8px 15px;
}

.popular__btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 55%;
  left: 0;
  z-index: 8;
  padding: 0px 40px;
}

.popular__btn .popular__btn--next,
.popular__btn .popular__btn--prev {
  background-color: var(--main--color);
  color: #ffffff;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.popular__btn .popular__btn--next:hover i,
.popular__btn .popular__btn--prev:hover i {
  color: rgba(255, 111, 40, 1);
}

.popular__btn .popular__btn--next:hover,
.popular__btn .popular__btn--prev:hover {
  background-color: #ffffff;
}

.popular__btn i {
  width: 30px;
  height: 30px;
  line-height: 30px;
}

/* Form Section */
#form__section {
  height: 100%;
  background: url("../images/experts-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.form__container {
  padding-top: 50px;
  padding-bottom: 50px;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}

.art__box {
  width: 373.31px;
  height: 373.31px;
  border-radius: 50%;
  background-color: rgba(255, 231, 219, 1);
  position: relative;
  z-index: 3;
}

.art__box::after {
  content: "";
  position: absolute;
  top: -65px;
  left: -65px;
  z-index: -2;
  width: 498px;
  height: 498px;
  border-radius: 50%;
  border: 3.38px dashed rgba(247, 126, 35, 1);
}

.form__left {
  width: 38%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form__left .thumb__art {
  position: absolute;
  content: "";
  background: url("../images/men-img.webp");
  background-repeat: no-repeat;
  background-position: 57% 70%;
  background-size: cover;
  top: -176.74px;
  left: 1.49px;
  z-index: 1;
  width: 500px;
  height: 609.05px;
}

.form__left .form__card {
  position: absolute;
  z-index: 15;
  width: 168px;
  height: 175px;
  padding: 15px 20px;
  top: 144px;
  left: 400px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0px 0px 69.23px 0px rgba(112, 112, 112, 0.25);
}

.form__card .arts {
  margin-left: 40px;
  width: 100%;
  height: 40px;
  position: relative;
}

.arts .one {
  position: absolute;
  left: 0;
}

.arts .two {
  position: absolute;
  left: 25px;
}

.arts .three {
  position: absolute;
  left: 50px;
}

.arts img {
  border: 3px solid rgba(255, 255, 255, 1);
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.form__card .user__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 41px;
  height: 41px;
  color: var(--main--color);
  background-color: rgba(255, 231, 219, 1);
  border-radius: 50%;
}

.form__card .user__icon i {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}

.form__card .main__txt {
  text-align: center;
  font-family: Poppins, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  position: relative;
}

.form__card .main__txt span {
  font-family: Poppins, sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  text-align: center;
  color: var(--main--color);
}

.form__card .main__txt span::before {
  content: "";
  width: 35.5px;
  height: 4px;
  background: url("../images/line.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  transform: rotate(-2deg);
  left: 30px;
  top: 30px;
}

.form__right {
  width: 50%;
}

.form__right .form__container {
  width: 604px;
  height: 655px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 30px 40px;
  justify-content: space-between;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0px 0px 25px 0px rgba(17, 24, 39, 0.18);
}

.form__container .form__title {
  font-family: Open Sans, sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 21.79px;
  text-align: center;
}

.input__box {
  margin-top: -40px;
}

.form__container .input__box input {
  width: 100%;
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 21.31px;
  text-align: left;
  padding: 20px 15px;
  color: rgba(103, 103, 103, 1);
  border-width: 1.07px;
  border-radius: 5px;
  background-color: rgba(250, 250, 252, 1);
  border: 1.07px solid rgba(217, 220, 224, 1);
  margin-bottom: 30px;
}

.form__container .form__list {
  width: 100%;
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 600;
  line-height: 21.31px;
  text-align: left;
  color: rgba(64, 64, 64, 0.8);
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 60px;
  border-width: 1.07px;
  border-radius: 5px;
  background-color: rgba(250, 250, 252, 1);
  border: 1.07px solid rgba(217, 220, 224, 1);
}

.select__box {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  position: relative;
  z-index: 1;
  margin-top: -95px;
}

.select__box .snow__icon {
  position: absolute;
  left: 30px;
  top: 15px;
  width: 19.33px;
  height: 22px;
  transform: translateY(50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.select__box .snow__icon i {
  width: 100%;
  height: 100%;
  color: rgba(64, 64, 64, 0.8);
}

.form__container .form__btn {
  padding: 15px 80px;
  color: #ffffff;
  background-color: var(--main--color);
  border-radius: 5px;
  border: none;
  font-family: Open Sans, sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: -0.02em;
  text-align: left;
  float: right;
}

/* Title Section */
#title__section {
}

.title__container {
  padding-top: 20px;
  padding-bottom: 80px;
  position: relative;
  display: flex;
  justify-content: center;
}

.title__container h1 {
  font-family: Open Sans;
  font-size: 48px;
  font-weight: 700;
  line-height: 65.37px;
  letter-spacing: -0.02em;
  text-align: center;
  width: 866px;
}

/* Featured Section */
#fetured__section {
  margin-top: 40px;
}

.fetured__container {
  padding-top: 20px;
  padding-bottom: 80px;
  position: relative;
}

.fetured__container .fetured__title {
  font-size: 48px;
  font-weight: 600;
  line-height: 72px;
  font-family: Poppins, sans-serif;
  color: rgba(0, 0, 0, 1);
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.fetured__slider {
  margin-top: 30px;
  overflow-x: auto;
  scroll-behavior: smooth;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.fetured__slider::-webkit-scrollbar {
  display: none;
}

.slider__link {
  color: var(--main--color);
  display: block;
  font-size: 24px;
  font-family: Poppins, sans-serif;
  line-height: 36px;
  font-weight: 400;
  float: right;
}

.fetured__slider .fetured__card {
  width: 291px;
  height: 432px;
  background: url("../images/slider.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 80% 70%;
  position: relative;
  flex-shrink: 0;
}

.fetured__slider .fetured__card:nth-child(2) {
  background: url("../images/slider2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 80% 70%;
}

.fetured__slider .fetured__card:nth-child(3),
.fetured__slider .fetured__card:nth-child(5) {
  background: url("../images/slider3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 80% 70%;
}

.fetured__slider .fetured__card:nth-child(4) {
  background: url("../images/slider4.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 80% 70%;
}

.fetured__slider .fetured__card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.fetured__slider .fetured__card:hover .card__txt {
  transform: translateY(-42%);
  transition: all 0.3 linear;
}

.fetured__slider .fetured__card:not(:hover) .card__txt {
  transform: translateY(0);
  transition: all 0.3 linear;
}

.fetured__card .card__txt {
  position: absolute;
  bottom: -100px;
  left: 0;
  z-index: 3;
  padding: 10px 20px;
}

.fetured__card .card__txt h2 {
  font-size: 32px;
  font-weight: 600;
  font-family: Poppins, sans-serif;
  line-height: 45px;
  color: rgba(255, 255, 255, 1);
}

.fetured__card .card__txt p {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  text-align: left;
  color: rgba(255, 255, 255, 1);
}

.fetured__card .card__txt .txt__hidden {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  color: rgba(255, 255, 255, 1);
}

.fetured__btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 55%;
  left: 0;
  z-index: 8;
  padding: 0px 40px;
}

.fetured__btn .fetured__btn--next,
.fetured__btn .fetured__btn--prev {
  background-color: var(--main--color);
  color: #ffffff;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.fetured__btn .fetured__btn--next:hover i,
.fetured__btn .fetured__btn--prev:hover i {
  color: rgba(255, 111, 40, 1);
}

.fetured__btn .fetured__btn--next:hover,
.fetured__btn .fetured__btn--prev:hover {
  background-color: #ffffff;
}

.fetured__btn i {
  width: 30px;
  height: 30px;
  line-height: 30px;
}

/* Footer */
footer {
  margin-top: 70px;
  background-color: rgba(0, 0, 0, 1);
}

.footer__container {
  padding-top: 70px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.footer__container .text__box {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.text__box .text__box--link {
  width: 296px;
}

.text__box .text__box--link a {
  color: var(--main--color);
  font-size: 33px;
  font-weight: 600;
  line-height: 41.23px;
  font-family: Source Code Pro, sans-serif;
  position: relative;
}

.text__box .text__box--link .link__title::after {
  content: "";
  width: 5px;
  height: 5px;
  background-color: var(--main--color);
  border-radius: 50%;
  position: absolute;
  left: 41.5px;
  top: 10px;
}

.text__box .text__box--link .link__title::before {
  content: "";
  width: 5px;
  height: 5px;
  background-color: var(--main--color);
  border-radius: 50%;
  position: absolute;
  left: 52.5px;
  top: 10px;
}

.text__box--link p {
  margin: 20px 0px;
  color: rgba(255, 255, 255, 1);
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 1px;
  text-align: left;
}

.text__box--link .link__box .link__item {
  display: inline-block;
}

.link__box .link__item a {
  color: rgba(255, 255, 255, 1);
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  margin-right: 20px;
}

.link__item a i {
  width: 19.05px;
  height: 20px;
}

.text__box .address__box {
  width: 500px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.address__link .address__item {
  margin-bottom: 15px;
}

.address__link .address__item,
.address__box .company {
  color: rgba(255, 255, 255, 1);
  font-family: Poppins;
  font-size: 16px;
  line-height: 24px;
  text-align: left;
}

.address__link .address__item p,
.address__box .company a {
  font-weight: 400px;
}

.company__list {
  margin-top: 20px;
}

.company__list .list__item {
  margin-top: 10px;
}
.company__list .list__item a {
  color: rgba(255, 255, 255, 1);
}

.footer__container .email__box {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-top: 30px;
  width: 545px;
}

.email__box h3 {
  color: rgba(255, 255, 255, 1);
  font-family: Poppins;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  text-align: left;
  margin-bottom: 10px;
}

.form__email {
  display: flex;
  align-items: center;
}

.email__box .form__email input {
  width: 75%;
  padding: 16px 20px;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  text-align: left;
}

.email__box .form__email input::placeholder {
  color: rgba(247, 126, 35, 1);
}

.email__box .form__email button {
  padding: 16px 25px;
  background-color: rgba(247, 126, 35, 1);
  color: #ffffff;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  width: 25%;
}

.logo__box {
  width: 100%;
  margin-top: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.logo__box .logo__img {
  width: 193.63px;
  height: 37px;
}

.logo__img img {
  width: 100%;
  height: 100%;
}

.logo__box .author {
  color: rgba(255, 255, 255, 1);
  font-family: Poppins;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  margin-left: 50px;
}

/* Public Section */

#public__section {
  height: 671px;
  background: url("../images/experts-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.public__container {
  padding-top: 150px;
  padding-bottom: 150px;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  width: 80%;
}

.art__box {
  width: 373.31px;
  height: 373.31px;
  border-radius: 50%;
  background-color: rgba(255, 231, 219, 1);
  position: relative;
  z-index: 3;
}

.art__box::after {
  content: "";
  position: absolute;
  top: -65px;
  left: -65px;
  z-index: -2;
  width: 477px;
  height: 477px;
  border-radius: 50%;
  border: 3.38px dashed rgba(247, 126, 35, 1);
}

.public__left {
  width: 580px;
}

.public__right .art__box {
  background: url("../images/natural-img.png");
  background-repeat: no-repeat;
  background-position: 80% 70%;
  background-size: cover;
  border-radius: 50%;
  z-index: 1;
  width: 354px;
  height: 354px;
  position: relative;
}

.public__right .public__card {
  position: absolute;
  z-index: 15;
  width: 168px;
  height: 175px;
  padding: 15px 15px;
  top: 156px;
  left: -26px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0px 0px 69.23px 0px rgba(112, 112, 112, 0.25);
}

.public__card .user__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 41px;
  height: 41px;
  color: var(--main--color);
  background-color: rgba(255, 231, 219, 1);
  border-radius: 50%;
}

.public__card .user__icon i {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}

.public__card .main__txt {
  text-align: center;
  font-family: Poppins, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  position: relative;
}

.public__card .main__txt span {
  font-family: Poppins, sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  text-align: center;
  color: var(--main--color);
}

.public__card .main__txt span::before {
  content: "";
  width: 60px;
  height: 5px;
  background: url("../images/line.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  transform: rotate(-2deg);
  left: 11px;
  top: 85px;
}

.public__right {
  width: 480px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.public__left .main__title {
  font-size: 52px;
  line-height: 78px;
  font-weight: 700;
  font-family: Poppins, sans-serif;
  color: rgba(51, 51, 51, 1);
  width: 100%;
}

.public__left .main__title span::before {
  content: "";
  width: 297px;
  height: 8.8px;
  background: url("../images/line.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  left: 14px;
  top: 69px;
  transform: rotate(-3deg);
  z-index: 5;
}

.public__left span {
  font-family: Poppins, sans-serif;
  font-size: 52px;
  font-weight: 700;
  line-height: 78px;
  text-align: left;
  color: var(--main--color);
  position: relative;
}

.public__left .sub__title {
  margin-top: 20px;
  width: 100%;
  height: 150px;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  font-family: Poppins, sans-serif;
}

.public__left .right__btn {
  padding: 15px 30px;
  border-radius: 5px;
  background-color: rgba(255, 111, 40, 1);
  color: #ffffff;
  border: none;
  line-height: 20px;
  font-family: Source Code Pro, sans-serif;
}

.public__left .right__btn:hover {
  background-color: #ffffff;
  color: rgba(255, 111, 40, 1);
}

/* Recent Section */
#recent__section {
  margin-top: 50px;
}

.recent__container {
  padding-top: 20px;
  padding-bottom: 80px;
  position: relative;
}

.recent__container .recent__title {
  font-size: 48px;
  font-weight: 600;
  line-height: 72px;
  font-family: Poppins, sans-serif;
  color: rgba(0, 0, 0, 1);
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.recent__slider {
  margin-top: 30px;
  overflow-x: auto;
  scroll-behavior: smooth;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.recent__slider::-webkit-scrollbar {
  display: none;
}

.slider__link {
  color: var(--main--color);
  display: block;
  font-size: 24px;
  font-family: Poppins, sans-serif;
  line-height: 36px;
  font-weight: 400;
  float: right;
}

.recent__slider .recent__card {
  width: 282px;
  height: 302.93px;
  background: url("../images/natural-img.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 80% 70%;
  position: relative;
  flex-shrink: 0;
  border-radius: 9.96px;
  z-index: 1;
}

.recent__slider .recent__card:nth-child(2) {
  background: url("../images/natural-img2.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 80% 70%;
}

.recent__slider .recent__card:nth-child(3),
.recent__slider .recent__card:nth-child(5) {
  background: url("../images/python-img.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 80% 70%;
}

.recent__slider .recent__card:nth-child(4) {
  background: url("../images/frame-img.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 80% 70%;
}

.recent__slider .recent__card img {
  position: absolute;
  z-index: 3;
  width: 68px;
  height: 17.74px;
  right: 15px;
  top: 15px;
}

.recent__slider .recent__card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  border-radius: 9.96px;
}

.recent__card h2 {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 3;
  font-size: 26.15px;
  font-weight: 500;
  font-family: Poppins, sans-serif;
  line-height: 30px;
  color: rgba(255, 255, 255, 1);
  padding: 8px 15px;
}

.recent__btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 55%;
  left: 0;
  z-index: 8;
  padding: 0px 40px;
}

.recent__btn .recent__btn--next,
.recent__btn .recent__btn--prev {
  background-color: var(--main--color);
  color: #ffffff;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.recent__btn .recent__btn--next:hover i,
.recent__btn .recent__btn--prev:hover i {
  color: rgba(255, 111, 40, 1);
}

.recent__btn .recent__btn--next:hover,
.recent__btn .recent__btn--prev:hover {
  background-color: #ffffff;
}

.recent__btn i {
  width: 30px;
  height: 30px;
  line-height: 30px;
}

/* Review section */
#review__section {
}

.review__container {
}

.review__container .review__title {
  font-family: Poppins, sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 48px;
  text-align: center;
  color: rgba(36, 34, 67, 1);
}

.review__container .review__slider--container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

.review__slider--container .review__left {
  width: 30%;
}

.review__left h1 {
  font-family: Open Sans, sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 65.37px;
  text-align: left;
  text-transform: capitalize;
}

.review__left h1 span {
  font-family: Poppins, sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 65.37px;
  color: var(--main--color);
  position: relative;
}

.review__left h1 span::before {
  content: "";
  width: 200px;
  height: 8.8px;
  background: url("../images/line.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  left: -215px;
  top: 126px;
  transform: rotate(-2deg);
  z-index: 5;
}

.review__btn {
  margin-top: 60px;
}

.review__btn .review__btn--next {
  margin-left: 40px;
}

.review__btn button {
  background-color: #ffffff;
  color: var(--main--color);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid rgba(247, 126, 35, 1);
  cursor: pointer;
}

.review__btn button:hover {
  background-color: var(--main--color);
  color: #ffffff;
}

.review__slider--container .review__right {
  width: 70%;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 70px;
}

.review__right .slider__box {
  display: flex;
  align-items: center;
  overflow-x: scroll;
  scroll-behavior: smooth;
  gap: 20px;
}

.review__right .slider__box::-webkit-scrollbar {
  display: none;
}

.slider__box .slider__item {
  width: 480px;
  height: 352px;
  padding: 40px;
  flex-shrink: 0;
}

.slider__item .content {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.slider__item .content .name__box {
  line-height: 30px;
  margin-left: 15px;
}

.name__box strong {
  font-family: Open Sans, sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 27.24px;
  text-align: left;
}

.name__box p {
  font-family: Open Sans, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 24.51px;
  color: rgba(247, 126, 35, 1);
}

.slider__item p {
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

.slider__item .content .thumb__art {
  width: 70px;
  height: 70px;
  background: url("/assets/images/reivew-img.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
}
