@media (min-width: 400px) and (max-width: 600px) {
  .container {
    width: 95%;
  }

  .header {
    background-color: #ffffff;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
    box-shadow: 0px 0px 20px 0px rgba(203, 203, 203, 0.25);
  }

  .scroll__btn--up {
    display: none;
  }

  .nav-main {
    display: none;
  }

  .header__logo {
    font-size: 24px;
  }

  .nav-mobile.sidebar {
    position: fixed;
    top: 0;
    left: -400px;
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 999;
    transition: all 0.5s linear;
  }

  .nav-mobile.sidebar .close-btn {
    color: rgba(255, 111, 40, 1);
  }

  .nav-mobile.sidebar .close-btn i {
    font-size: 25px;
    padding: 20px 25px;
  }

  .nav-mobile.sidebar .nav__item:hover {
    background-color: #ffffff;
  }

  .nav-mobile.sidebar .nav__item a {
    display: block;
    padding: 20px 25px;
    color: rgba(255, 111, 40, 1);
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 25px;
    text-align: center;
  }

  .nav-main {
    width: 100%;
    height: 100%;
  }

  .header__logo::before {
    width: 4px;
    height: 4px;
    left: 38px;
    top: 6px;
  }

  .header__logo::after {
    width: 4px;
    height: 4px;
    left: 29.5px;
    top: 6px;
  }

  .logo-box .menu {
    display: block;
  }

  .user-logo {
    display: block;
  }

  .header__btn {
    display: none;
  }

  /* Banner */
  #banner__section {
    margin-top: 76px;
    height: 502px;
    background-position: 24% 70%;
  }

  .banner__content {
    margin-top: 90px;
  }

  .banner__content .banner__btn {
    margin-top: 70px;
  }

  .banner__content .banner__title {
    font-size: 32px;
    line-height: 48px;
    width: 90%;
  }

  .banner__content .banner__txt {
    font-size: 18px;
    width: 80%;
  }

  .banner__content .banner__other {
    width: 100%;
  }

  .banner__other {
    padding: 20px;
    border-radius: 0px;
    bottom: -87px;
    box-shadow: none;
  }

  .banner__other li i {
    padding: 15px;
    font-size: 20px;
  }

  .banner__other a {
    font-size: 18px;
  }

  .banner__other ul {
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .banner__content .banner__other li {
    padding: 15px 0px;
  }

  /* Category */
  .category__container .category__title {
    font-size: 24px;
    line-height: 36px;
    text-transform: lowercase;
    margin-bottom: 20px;
  }

  .slider__link {
    font-size: 14px;
    line-height: 21px;
  }

  .category__btn {
    display: none;
  }

  .category__slider .category__card {
    width: 116px;
    height: 133px;
    border-radius: 5px;
  }

  .category__slider .category__card::before {
    border-radius: 5px;
  }

  .category__card .card__content {
    bottom: 45px;
    width: 100%;
  }

  .category__card .card__content p {
    display: none;
  }

  .category__card .card__content h2 {
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 0px;
  }

  .category__slider {
    margin-top: 20px;
    gap: 15px;
  }

  /* Experts */
  #experts__section {
    height: 100%;
  }

  .experts__container {
    flex-wrap: wrap;
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .experts__left {
    width: 100%;
  }

  .experts__left .art__box {
    width: 477px;
    height: 430px;
  }

  .experts__left .expert__card {
    width: 135px;
    height: 169px;
    top: 189px;
    left: 232px;
  }

  .expert__card .user__icon {
    width: 40px;
    height: 40px;
  }

  .expert__card .user__icon i {
    font-size: 20px;
  }

  .expert__card .main__txt {
    font-size: 16px;
    line-height: 25px;
  }

  .expert__card .main__txt span {
    font-size: 16px;
    line-height: 25px;
  }

  .expert__card .main__txt span::before {
    width: 88px;
    transform: rotate(3deg);
    top: 21px;
  }

  .expert__card .arts {
    margin-left: 18px;
    height: 35px;
  }

  .arts .two {
    position: absolute;
    left: 20px;
  }

  .arts img {
    width: 32px;
    height: 32px;
  }

  .arts .three {
    position: absolute;
    left: 40px;
  }

  .experts__right {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .experts__right .main__title {
    font-size: 32px;
    line-height: 48px;
    width: 100%;
    text-align: center;
  }

  .experts__right span {
    font-size: 32px;
    line-height: 48px;
  }

  .experts__right span::before {
    width: 110px;
    left: 3px;
    top: 45px;
    transform: rotate(0deg);
  }

  .experts__right .sub__title {
    width: 100%;
    height: 100%;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 2px;
  }

  /* Course */
  .course__container .course__title {
    width: 60%;
    margin: 0 auto;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    text-transform: capitalize;
  }

  .course__sort {
    margin-top: 25px;
    width: 90px;
    height: 35px;
    padding: 0px 8px;
    font-size: 14px;
    line-height: 18px;
  }

  .course__list {
    margin-top: 0px;
    gap: 0px;
  }

  .course__list--item img {
    height: 110px;
  }

  .course__list .course__list--item {
    width: 48%;
    height: 100%;
    margin-top: 20px;
  }

  .course__list .course__list--item:hover {
    transform: translateY(-10px);
  }

  .item__title h4 {
    font-size: 14px;
    line-height: 20px;
  }

  .item__title .review {
    height: 18px;
    margin-top: 0px;
    font-size: 8px;
    line-height: 12px;
  }

  .course__list--item .item__content {
    padding: 5px 10px;
  }

  .item__number p,
  .item__number a {
    font-size: 12px;
    line-height: 18px;
  }

  .item__content .item__time {
    flex-wrap: wrap-reverse;
  }

  .item__time .item__number {
    gap: 8px;
  }

  .item__time .item__price {
    font-size: 14px;
    line-height: 21px;
    margin: 10px 0px;
  }

  /* Examination */
  #examination__section {
    height: 100%;
  }

  .examination__container {
    padding-top: 50px;
    padding-bottom: 60px;
    flex-wrap: wrap-reverse;
  }

  .examination__right {
    width: 100%;
  }

  .examination__right .art__box {
    height: 480px;
  }

  .examination__right .examination__card {
    width: 130px;
    height: 135px;
    padding: 10px 10px;
    top: 253px;
    left: -16px;
  }

  .examination__card .user__icon {
    width: 25px;
    height: 25px;
  }

  .examination__card .user__icon i {
    font-size: 14px;
  }

  .examination__card .main__txt {
    font-size: 14px;
    line-height: 21px;
  }

  .examination__card .main__txt span {
    font-size: 14px;
    line-height: 21px;
  }

  .examination__card .main__txt span::before {
    width: 56px;
    left: 26px;
    top: 18px;
  }

  .examination__left {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .examination__left .main__title {
    font-size: 32px;
    line-height: 48px;
    width: 100%;
    text-align: center;
  }

  .examination__left span {
    font-size: 32px;
    line-height: 48px;
  }

  .examination__left .sub__title {
    text-align: center;
    width: 100%;
    font-size: 16px;
    line-height: 24px;
    height: 100%;
  }

  .examination__left .right__btn {
    margin-top: 30px;
  }

  /* Popular */

  #popular__section {
    margin-top: 0px;
  }

  .popular__container .popular__title {
    text-transform: capitalize;
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 20px;
  }

  .popular__btn {
    display: none;
  }

  .popular__slider .popular__card {
    width: 160px;
    height: 160px;
    background-position: 42% 70%;
  }

  .popular__slider {
    gap: 15px;
  }

  .popular__card h2 {
    font-size: 12px;
    line-height: 17px;
  }

  /* Title */
  .title__container h1 {
    font-size: 24px;
    line-height: 36px;
    width: 100%;
  }

  .title__container {
    padding-bottom: 40px;
  }

  /* Form */
  .form__container {
    flex-wrap: wrap;
    padding-top: 20px;
    padding-bottom: 80px;
  }

  .form__left {
    width: 100%;
  }

  .form__left .art__box {
    padding-bottom: 0;
    height: 100%;
  }

  .form__card .user__icon {
    width: 25px;
    height: 25px;
  }

  .form__card .user__icon i {
    font-size: 14px;
  }

  .form__left .form__card {
    width: 131px;
    height: 137px;
    padding: 15px 15px;
    top: 233px;
    left: 243px;
  }

  .form__card .main__txt {
    font-size: 14px;
    line-height: 21px;
  }

  .form__card .main__txt span {
    font-size: 14px;
    line-height: 21px;
  }

  .form__card .main__txt span::before {
    width: 25px;
    left: 20px;
    top: 19px;
  }

  .form__right {
    width: 100%;
  }

  .form__right .form__container {
    width: 100%;
    height: 100%;
    padding: 0px;
    background-color: transparent;
    box-shadow: none;
  }

  .form__right .title-hidden {
    display: block;
    margin-bottom: 20px;
  }

  .form__right .form__title {
    display: none;
  }

  .form__container .input__box input {
    font-size: 16px;
    line-height: 21.31px;
    padding: 15px 15px;
    color: rgba(139, 139, 139, 1);
    border-radius: 5px;
    background-color: rgba(242, 242, 242, 1);
    border: 0.76px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }

  .select__box {
    margin-top: -50px;
  }

  .select__box .snow__icon {
    display: none;
  }

  .form__container .form__list {
    width: 100%;
    color: rgba(64, 64, 64, 0.8);
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    background-color: rgba(242, 242, 242, 1);
    border: 0.76px solid rgba(0, 0, 0, 0.1);
  }

  .form__container .form__btn {
    text-align: center;
    width: 100%;
  }

  /* Featured */
  #fetured__section {
    margin-top: 0;
  }

  .fetured__container .fetured__title {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 20px;
  }

  .fetured__btn {
    display: none;
  }

  .fetured__slider .fetured__card {
    width: 140px;
    height: 150px;
    background-position: 90% 70%;
    border-radius: 5px;
  }

  .fetured__slider .fetured__card::before {
    border-radius: 5px;
  }

  .fetured__card .card__txt {
    padding: 10px 10px;
    width: 100%;
    height: 100%;
    bottom: -90px;
  }

  .fetured__card .card__txt h2 {
    font-size: 16px;
    line-height: 24px;
  }

  .fetured__card .card__txt p {
    font-size: 16px;
    line-height: 24px;
  }

  .txt__hidden {
    font-size: 16px;
    line-height: 24px;
  }

  .fetured__card .card__txt .txt__hidden,
  .fetured__card .card__txt p {
    display: none;
  }

  .fetured__slider {
    gap: 20px;
    overflow: auto;
  }

  /* Public */
  #public__section {
    height: 100%;
  }

  .public__container {
    padding-top: 70px;
    padding-bottom: 70px;
    height: 100%;
    flex-wrap: wrap-reverse;
  }

  .public__right {
    width: 100%;
  }

  .public__right .art__box--img {
    width: 100%;
    height: 100%;
  }

  .public__right .art__box {
    width: 100%;
    height: 100%;
  }

  .public__right .public__card {
    width: 131px;
    height: 132px;
    top: 110px;
    left: 240px;
  }

  .public__card .user__icon {
    width: 25px;
    height: 25px;
  }

  .public__card .user__icon i {
    font-size: 14px;
  }

  .public__card .main__txt {
    font-size: 14px;
    line-height: 21px;
  }

  .public__card .main__txt span {
    font-size: 14px;
    line-height: 21px;
  }

  .public__card .main__txt span::before {
    width: 45px;
    left: 5px;
    top: 60px;
  }

  .public__left {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  .public__left .main__title {
    font-size: 32px;
    line-height: 48px;
    width: 100%;
    text-align: center;
  }

  .public__left span {
    font-size: 32px;
    line-height: 48px;
  }

  .public__left .main__title span::before {
    width: 180px;
    left: 11px;
    top: 39px;
    transform: rotate(0deg);
  }

  .public__left .sub__title {
    width: 100%;
    height: 100%;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
  }

  .public__left .right__btn {
    margin-top: 20px;
  }

  /* Recent */
  #recent__section {
    margin-top: 0px;
  }

  .recent__container .recent__title {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 20px;
  }

  .recent__btn {
    display: none;
  }

  .recent__slider .recent__card {
    width: 150px;
    height: 150px;
    background-position: 50% 70%;
  }

  .recent__slider {
    gap: 15px;
  }

  .recent__card h2 {
    font-size: 14px;
    line-height: 20px;
  }

  /* Review */
  .review__container .review__title {
    display: none;
  }

  .review__container .review__slider--container {
    flex-wrap: wrap;
    margin-top: 0px;
  }

  .review__slider--container .review__left {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .review__slider--container .review__right {
    width: 100%;
    padding-left: 0px;
  }

  .review__left h1 {
    font-size: 24px;
    line-height: 36px;
    width: 74%;
  }

  .review__left h1 span {
    font-size: 24px;
    line-height: 36px;
  }

  .review__left h1 span::before {
    width: 100px;
    height: 8px;
    left: 5px;
    top: 30px;
  }

  .review__btn {
    margin-top: 0px;
    width: 26%;
  }

  .review__btn button {
    width: 30px;
    height: 30px;
  }

  .slider__box .slider__item {
    width: 165px;
    height: 100%;
    padding: 0px;
  }

  .review__right .slider__box {
    gap: 30px;
  }

  .review__btn .review__btn--next {
    margin-left: 30px;
  }

  .slider__item .content .thumb__art {
    width: 28px;
    height: 28px;
  }

  .name__box strong {
    font-size: 12px;
    line-height: 16px;
  }

  .slider__item .content {
    margin-bottom: 15px;
  }

  .slider__item p {
    font-size: 12px;
    line-height: 16px;
  }

  .slider__item .content .name__box {
    line-height: 20px;
    margin-left: 10px;
  }

  /* Footer */
  .text__box--link p {
    display: none;
  }

  .footer__container {
    padding-top: 50px;
    flex-wrap: wrap;
  }

  .footer__container .text__box {
    flex-wrap: wrap-reverse;
    order: 2;
  }

  .logo__box {
    order: 3;
  }

  .footer__container .email__box {
    margin-top: 0px;
    width: 100%;
  }

  .email__box h3 {
    font-size: 14px;
    line-height: 21px;
    width: 100%;
    margin-bottom: 5px;
  }

  .email__box .form__email input {
    width: 70%;
    padding: 13px 15px;
    font-size: 10px;
    line-height: 14px;
  }

  .email__box .form__email button {
    padding: 13px 15px;
    font-size: 10px;
    line-height: 15px;
    width: 30%;
  }

  .text__box .address__box {
    width: 100%;
    align-items: flex-start;
    margin-top: 35px;
    gap: 40px;
  }

  .text__box .text__box--link {
    width: 100%;
    margin-top: 15px;
  }

  .link__box .link__item a {
    font-size: 20px;
    line-height: 30px;
    margin-right: 20px;
  }

  .logo__box .logo__img {
    width: 210.63px;
    height: 45px;
  }

  .logo__box .author {
    margin-left: 0px;
    margin-top: 15px;
  }

  .logo__box {
    margin-top: 50px;
    flex-wrap: wrap;
  }
}
